// Custom styles for header

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.header__btn {
  display: none;
  @include media-breakpoint-up(lg) {
    display: inline-block;
    @include round-btn();
    height: $spacing--lg;
    width: $spacing--lg;
    position: relative;
  }
}

.header__btn:hover {
  @include media-breakpoint-up(lg) {
    background-color: $c-primary;
    border-color: $c-primary;
  }
}

.header__btn-wrapper {
  height: 44px;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  @include media-breakpoint-up(lg){
    margin-left: $spacing--sm;
    margin-right: $spacing--xl;
    border: none;
  }

}

.header__svg {
  display: none;
  @include media-breakpoint-up(lg){
    height: $spacing--md;
    width: $spacing--md;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 6px;
  }
}

.header__navbar {
  display: flex;
  flex-direction: column;
  background-color: $c-darkest;
  overflow-y: scroll;
  @include media-breakpoint-up(lg) {
    background-color: white;
    margin: $spacing--xl 0;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    overflow-y: unset;
  }

}

.header__btn-text {
  font-family: $ff--sourcesans;
  text-transform: uppercase;
  font-weight: $fw--600;
  color: $c-white;
  @include media-breakpoint-up(lg){
    @include heading();
    letter-spacing: $letter-spacing--sm;
    line-height: $spacing--lg;
  }
}


.header__eyebrow {
  @include heading();
  letter-spacing: $letter-spacing--sm;
  line-height: $spacing--lg;
}

.header__eyebrow {
  margin-top: $spacing--xl;
}

.header__title {
  @include page-title();
}

.header__text-wrapper {
  margin: 140px auto;
}
