// Custom styles for header

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.header__btn {
  @include round-btn();
}

.header__btn:hover {
  background-color: $c-primary;
  border-color: $c-primary;
}

.header__btn-wrapper {
  margin-left: ($spacing--sm);
  margin-right: $spacing--xl;
}

.header__svg {
  height: $spacing--md;
  width: $spacing--md;
}

.header__navbar {
  margin: $spacing--xl 0;
}

.header__btn-text,
.header__eyebrow {
  @include heading();
  letter-spacing: $letter-spacing--sm;
  line-height: $spacing--lg;
}

.header__eyebrow {
  margin-top: $spacing--xl;
}

.header__title {
  @include page-title();
}

.header__text-wrapper {
  margin: 140px auto;
}
