{#
/**
 * @file
 * full-page-sidebar
 *
 * Available variables for full-page-sidebar:
 *    - full_page_sidebar.variable_name [variable_type]: Description of the variable. Example below.
 *    - full_page_sidebar.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{% extends '@templates/_basic-page.twig' %}

{% block content %}
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-4">
        {% include '@organisms/_sidebar.twig' with {
          sidebar: full_page_sidebar.sidebar,
        } %}
      </div>

      <div class="col-sm-12 col-md-8">
        {% include '@organisms/_main-article.twig' with {
          main_article: full_page_sidebar.main_article,
        } %}
      </div>


    </div>
  </div>

{% endblock content %}


