{#
/**
 * @file
 * intro-page
 *
 * Available variables for intro-page:
 *    - intro_page.variable_name [variable_type]: Description of the variable. Example below.
 *    - intro_page.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}
{% extends '@templates/_basic-page.twig' %}

{% block content %}
  {% include '@organisms/_featured-article-grid.twig' with {
    featured_article_grid: intro_page.featured_article_grid,
  } %}

  {% include '@molecules/_banner.twig' with {
    banner: intro_page.banner,
  } %}

  {# TODO: refactor to remove div from page? #}
  <div class="container">
    <div class="row">
      <div class="col-8">
        {% include '@organisms/_main-article.twig' with {
          main_article: intro_page.main_article1,
        } %}

        {% include '@organisms/_main-article.twig' with {
          main_article: intro_page.main_article2,
        } %}
      </div>

      <div class="col-4">
        {% include '@organisms/_sidebar.twig' with {
          sidebar: intro_page.sidebar,
        } %}
      </div>

    </div>
  </div>

{% endblock content %}

{#override footer block example#}
{#{% block footer %}#}
  {#<h2> FOOTERS </h2>#}
{#{% endblock footer %}#}

