// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths
.footer {
  background-color: $c-lightest;
  padding-top: ($spacing-xxl*2);
  padding-bottom: ($spacing--xl*3);
  @include div-border-top();
}

.footer__heading {
  @include footer_heading();
}

.footer__summary {
  @include media-breakpoint-up(lg) {
    padding-left: $spacing-xxl;
  }
}

.footer__summary--paragraph {
  font-size: $fs--s;
  font-family: $ff--sourcesans;
  color: $c-dark;
  font-weight: $fw--300;
  line-height: $spacing--md;
}

.footer__credits--list {
  list-style: none;
  padding-top: ($spacing--lg*2);
  margin-top: ($spacing-xxl*2);
  @include div-border-top();
}

.footer__form--message-input {
  margin-top: $spacing--md;
}

.footer__credits--list {
  justify-content: center;
}

.footer--credit--item, .footer__btn-text {
  font-size: $fs--s;
  font-family: $ff--sourcesans;
  font-weight: $fw--300;
  line-height: $spacing--md;
  color: $c-dark;
}

.footer__btn-text {
  max-width: 200px;
}

.footer--credit--item:not(:first-of-type) {
  margin-left: ($spacing--sm*2);
  padding-left: ($spacing--sm*2);
  @include div-border-left();
}

.footer--summary--social-links {
  flex-direction: column;
  display: inline-flex;
  @include media-breakpoint-up(sm) {
    flex-wrap: wrap;
    max-height: ($spacing--lg*10);
  }
}

.footer__btn-wrapper {
  padding-top: $spacing--lg;
}

.footer__btn {
  @include round-btn();
  display: inline-block;
  height: $spacing--lg;
  width: $spacing--lg;
  position: relative;
}

.footer__svg {
  height: $spacing--md;
  width: $spacing--md;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 6px;
}
