// Custom styles for banner

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.banner {
  @include div-border-bottom;
  @include div-border-top;
  background-repeat: repeat-x;
  padding-bottom: $spacing--xs;
  padding-top: $spacing--xs;
}

//TODO: REFACTOR INTO MIXIN
.banner__header {
  color: $c-white;
  font-family: $ff--sourcesans;
  line-height: 48px;
  letter-spacing: 4px;
  font-stretch: 100%;
  text-transform: uppercase;
  font-weight: 400;
  height: 450px;
  display: inline-block;
  align-items: center;
}

.banner-image__icon-right, .banner-image__icon-left {
  height: 141px;
  width: 35px;
}

.banner-image__icon-left {
  transform: scaleX(-1);
}
