// Custom styles for banner

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.banner {
  @include div-border-bottom;
  @include div-border-top;
  background-repeat: repeat-x;
  padding-bottom: $spacing--xs;
  padding-top: $spacing--xs;
}


.banner__header {
  @include banner_heading();
}

.banner-image__icon-right, .banner-image__icon-left {
  height: 141px;
  width: 35px;
}

.banner-image__icon-left {
  transform: scaleX(-1);
}
