{#
/**
 * @file
 * side-bar-card
 *
 * Available variables for side-bar-card:
 *    - side_bar_card.variable_name [variable_type]: Description of the variable. Example below.
 *    - side_bar_card.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="side-bar-card container">
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="side-bar-card__btn btn btn-dark">
        {{ side_bar_card.date }}
      </button>


      <div class="side-bar-card__text-wrapper">
        <h3 class="side-bar-card__title">{{ side_bar_card.title }}</h3>
        <p class="side-bar-card_summary">{{ side_bar_card.summary }}</p>
      </div>

    </div>

  </div>

</div>
