// Custom colors variables and mixins

// Greyscale
$c-white: #fff;
$c-lightest: #f0f0f0;
$c-light: #e5e5e5;
$c-gray: #d0d0d0;
$c-dark: #878787;
$c-darkest: #3c3c3c;

//Colors
$c-primary: #ed786a;
$c-secondary: #fd887a;
