// Custom non-printing type variables and mixins
//Font Family
$ff--arvo: 'Arvo', serif;
$ff--sourcesans: 'Source Sans Pro', sans-serif;

//Font Weights
$fw--300: 300; // light
$fw--400: 400; // normal/regular
$fw--600: 600; // semi-bold/demi-bold
$fw--700: 700; // bold

//Font Sizes
$fs--s: 16px;
$fs--m: 20px;
$fs--l: 33px;

//Letter Spacing
$letter-spacing--sm: 2px;
$letter-spacing: 4px;
$letter-spacing--xl: 13px;

//Spacing
//$spacing--xxs: 2px;
$spacing--xs: 4px;
$spacing--sm: 10px;
$spacing--md: 25px;
$spacing--lg: 33px;
$spacing--xl: 40px;
$spacing-xxl: 50px;
$spacing-xxxl: 60px;

@mixin heading() {
  font-family: $ff--sourcesans;
  color: $c-dark;
  text-transform: uppercase;
}

@mixin section_heading() {
  @include heading();
  font-size: $fs--l;
  letter-spacing: $letter-spacing;
  font-weight: $fw--400;
  margin: ($spacing-xxl * 2) 0 $spacing-xxl 0;
}

@mixin article_heading() {
  @include heading();
  font-size: $fs--m;
  font-weight: $fw--600;
  letter-spacing: $letter-spacing--sm;
  margin: $spacing-xxl 0 $spacing--md 0;
}

@mixin article_summary() {
  font-size: $fs--m;
  font-weight: $fw--300;
  margin-bottom: 50px;
}

@mixin page-title() {
  color: $c-primary;
  font-family: $ff--arvo;
  text-transform: uppercase;
  font-size: $spacing-xxxl;
  font-weight: $fw--700;
  line-height: $spacing--lg;
  letter-spacing: $letter-spacing--xl;
  text-shadow: rgba(0, 0, 0, 0.1) ($spacing--xs/2) $spacing--xs;
}

// Border Mixins
@mixin picture-border() {
  border: 6px solid $c-light;
  max-width: 100%;
}

@mixin btn-shared() {
  box-shadow: rgba(0, 0, 0, 0.125) ($spacing--xs/2) $spacing--xs 0 0;
}

//Button styles
@mixin rectangle-btn() {
  @include btn-shared();
  margin: $spacing--md 0 $spacing--xl 0;
  color: $c-white;
  border-radius: $spacing--xs;
  font-size: $fs--s;
  text-align: center;
  letter-spacing: $letter-spacing--sm;
  font-weight: $fw--600;
  line-height: $spacing--lg;
  padding: $spacing--sm $spacing--xl;
}

@mixin round-btn() {
  @include btn-shared();
  border-radius: 100%;
  margin-right: ($spacing--sm * 1.5);
}
