{#
/**
 * @file
 * featured-article-grid
 *
 * Available variables for featured-article-grid:
 *    - featured_article_grid.variable_name [variable_type]: Description of the variable. Example below.
 *    - featured_article_grid.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="featured-article-grid container">
  <div class="row">
    <div class="col">
      <h2 class="featured-article-grid__headline text-center">{{ featured_article_grid.headline }}</h2>
    </div>
  </div>
  <div class="row">
    {% for card in featured_article_grid.cards %}
      <div class="col-sm-4">
        {% include '@molecules/_featured-article-card.twig' with {
          featured_article_card: card
        } %}
      </div>
    {% endfor %}
  </div>


  <div class="row text-center">
    <div class="col">
      <button type="button" class="featured-article-grid__btn btn btn-primary">
        <i class="fas fa-file" aria-hidden="true"></i>
        {{ featured_article_grid.button_text | upper }}
      </button>
    </div>
  </div>


</div> <!-- /.featured-article-grid -->
